@use 'variables' as *;

body {
  background: $bg-primary;
  color: $color-text;
  font-family: $font-mono;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-lg;
  gap: $spacing-md;
}
